body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.header {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo {
    height: 80px;
    width: auto;
}

.header-text {
    flex-grow: 1;
    text-align: center;
}

.header-text h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.header-text p {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

.container h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

.taluka-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 15px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #ff3366;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.taluka-button:hover {
   
    background-color: #e0306b;
}

.no-underline {
    text-decoration: none;
}

footer {
    margin-bottom: auto;
    /* padding: 10px; */
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    .logo-container {
        flex-direction: column;
    }

    .header-text {
        margin: 10px 0;
    }

    .taluka-button {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .header-text h1 {
        font-size: 1.2rem;
    }

    .header-text p {
        font-size: 0.8rem;
    }

    .taluka-button {
        padding: 10px;
        font-size: 0.9rem;
    }
}
